#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
.goog-text-highlight {background-color:transparent !important;box-shadow:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}



.mega-menu-inner {
  max-width: 1200px;
}

#mega-menu-wrap-primary-menu,
ul#mega-menu-primary-menu {
  position: static !important;
}

#mega-menu-wrap-primary-menu a {
  font-weight: 700 !important;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu>li.mega-menu-item>a.mega-menu-link:hover {
  color: $white-color !important;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu li.mega-menu-item-has-children>a.mega-menu-link>span.mega-indicator:after {
  margin: 0 0 0 1px;
  font-size: 0.7rem;
  top: 0.16em;
  font-weight: 700;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu{
  >li.mega-menu-item>a.mega-menu-link {
    padding: 0px 13px 0px 13px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0;
      height: 4px;
      width: 0;
      background-color: $theme-color;
      transition: all ease 0.4s;
    }

    &:hover {
      color: #858585;

      &:before {
        width: 100%;
      }
    }

  }
}

.cart_table {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
    padding-left: 19px;
    font-family: var(--theme-font);
    color: var(--body-color);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
  }
}


.checkout-ordertable {
  text-align: left;
  td {
    text-align: right;
    padding-right: 20px;
  }
  
  th {
    padding-left: 20px;
  }

  td,
  th {
    border: 1px solid $border-color;
  }

  tr:first-child {
    td,
    th {
      border-top: none;
    }
  }
}




.shop-details {
  .product-content {
    // margin-top: -0.5em;
    padding: 0;

    div:empty {
      display: none;
    }

    >.price {
      font-weight: 700;
      margin-bottom: 6px;
      font-size: 22px;
      color: $title-color;
    }

  }

  .woocommerce-variation-price {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
  }

}


.related-products {
  .product-content .price {
    font-size: 18px;
    font-weight: 500;
    color: $theme-color2;
  }
}



.woocommerce-checkout-payment {
  text-align: left;
}

.payment_method_paypal {

  label {
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      order: 2;
      max-width: 100px;
      align-self: end;
      margin-left: auto;
    }
  }

}


@include md {

  .checkout-ordertable {
    th {
      display: none;
    }
  }

  .checkout-ordertable tr:first-child td,
  .checkout-ordertable tr:first-child th {
    border-top: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
  }
}


.select2-container--default .select2-selection--single {
  height: 55px;
  border: 1px solid #e3e6e9;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 21px;
  padding-right: 25px;
}

.woocommerce-billing-fields .form-row {
  margin-bottom: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: '\f107';
  font-family: $icon-font;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin: 0;
  border: none;
  top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 55px;
  line-height: 53px;
  margin-right: 18px;
}



span.select2-selection.select2-selection--single:focus {
  outline: none;
}


.yith-wcwl-icon.fa-heart-o:before {
  font-family: 'font awesome 5 pro';
  font-weight: 400;
  content: '\f004';
}





@include md {
  .shop-details {
    .product-content {
      padding: 0;
    }
  }
}