
.pagination-layout1 {
  text-align: center;
  position: relative;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 3px;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  // .text {
  //   display: inline-block;
  //   transition: all ease 0.4s;
  // }


  span,
  a {
    background-color: $white-color;
    color: $theme-color2;
    min-width: 50px;
    min-height: 50px;
    line-height: 50px;
    width: max-content;
    height: max-content;
    display: inline-block;
    border: none;
    font-weight: 700;
    position: relative;
    z-index: 1;
    margin: 0 2px;
    padding: 0 19.438px;
    
    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -2;
      background-image: $gradient;
      transition: all ease 0.4s;
    }

    &:after {
      z-index: -1;
      background-color: $white-color;
      background-image: none;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
    }

    &.current,
    &.active,
    &:hover {
      color: $white-color;
      
      &:after {
        opacity: 0;
        visibility: hidden;
      }
    }
    
  }

  

  

}


@include sm {
  .pagination-layout1 {
    .text {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 11px;
    }
  }
}